//blue spanish
$blueSpanish: #246eb9;
$buttonHover: #a4c4e3;

//white
$white: #fdffff;

//dark purple
$darkPurple: #190b28;

//russian green
$russianGreen: #77966d;

//ebony
$ebony: #626d58;

$black: black;
